LNDLWcfServiceHost/Service References/ServiceReference1/LNDLWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LNDLWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" />
      <xsd:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LNDLWcfService" />
      <xsd:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILNDLWcfService_GetMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessage" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_GetMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_getCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:getCompany" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_getCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_getOrderList_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrderList" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_getOrderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderListResponse" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_getOrderList1_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrderList1" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_getOrderList1_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrderList1Response" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_saveOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:saveOrder" />
  </wsdl:message>
  <wsdl:message name="ILNDLWcfService_saveOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFUploader_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IWCFUploader_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFUploader_Transform_InputMessage">
    <wsdl:part name="parameters" element="tns:Transform" />
  </wsdl:message>
  <wsdl:message name="IWCFUploader_Transform_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransformResponse" />
  </wsdl:message>
  <wsdl:portType name="ILNDLWcfService">
    <wsdl:operation name="GetMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ILNDLWcfService/GetMessage" message="tns:ILNDLWcfService_GetMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILNDLWcfService/GetMessageResponse" message="tns:ILNDLWcfService_GetMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/ILNDLWcfService/getCompany" message="tns:ILNDLWcfService_getCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILNDLWcfService/getCompanyResponse" message="tns:ILNDLWcfService_getCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILNDLWcfService/getOrderList" message="tns:ILNDLWcfService_getOrderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILNDLWcfService/getOrderListResponse" message="tns:ILNDLWcfService_getOrderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrderList1">
      <wsdl:input wsaw:Action="http://tempuri.org/ILNDLWcfService/getOrderList1" message="tns:ILNDLWcfService_getOrderList1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILNDLWcfService/getOrderList1Response" message="tns:ILNDLWcfService_getOrderList1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ILNDLWcfService/saveOrder" message="tns:ILNDLWcfService_saveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILNDLWcfService/saveOrderResponse" message="tns:ILNDLWcfService_saveOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWCFUploader">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFUploader/Upload" message="tns:IWCFUploader_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFUploader/UploadResponse" message="tns:IWCFUploader_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Transform">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFUploader/Transform" message="tns:IWCFUploader_Transform_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFUploader/TransformResponse" message="tns:IWCFUploader_Transform_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILNDLWcfService" type="tns:ILNDLWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="http://tempuri.org/ILNDLWcfService/GetMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCompany">
      <soap:operation soapAction="http://tempuri.org/ILNDLWcfService/getCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderList">
      <soap:operation soapAction="http://tempuri.org/ILNDLWcfService/getOrderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderList1">
      <soap:operation soapAction="http://tempuri.org/ILNDLWcfService/getOrderList1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveOrder">
      <soap:operation soapAction="http://tempuri.org/ILNDLWcfService/saveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWCFUploader" type="tns:IWCFUploader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IWCFUploader/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transform">
      <soap:operation soapAction="http://tempuri.org/IWCFUploader/Transform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LNDLWcfService">
    <wsdl:port name="BasicHttpBinding_ILNDLWcfService" binding="tns:BasicHttpBinding_ILNDLWcfService">
      <soap:address location="http://localhost:8080/LNDLWcfService" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWCFUploader" binding="tns:BasicHttpBinding_IWCFUploader">
      <soap:address location="http://localhost:8080/LNDLWcfService/WcfUploader" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>