LNDLWcfServiceHost/Service References/ServiceReference1/LNDLWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LNDLWcfService" />
  <xs:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="getOrderListResult" nillable="true" type="q1:ArrayOfOrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="o" nillable="true" type="q2:OrderEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="Uploading" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="UploadResult" nillable="true" type="q4:UploadedFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="Uploading" nillable="true" type="q5:UploadedFile" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="TransformResult" nillable="true" type="q6:UploadedFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>