LNDL/Service References/ServiceReference1/LNDLWcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" />
  <xs:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities.Common" />
  <xs:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:8080/LNDLWcfService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LNDLWcfService" />
  <xs:element name="getCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="getCompanyResult" nillable="true" type="q1:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyTotalNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyTotalNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCompanyTotalNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="company" nillable="true" type="q2:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="company" nillable="true" type="q3:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="company" nillable="true" type="q4:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities.Common" minOccurs="0" name="getCategoryResult" nillable="true" type="q5:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryTotalNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryTotalNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCategoryTotalNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities.Common" minOccurs="0" name="category" nillable="true" type="q6:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities.Common" minOccurs="0" name="category" nillable="true" type="q7:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities.Common" minOccurs="0" name="category" nillable="true" type="q8:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteCategoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="getProductResult" nillable="true" type="q9:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductTotalNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductTotalNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProductTotalNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="product" nillable="true" type="q10:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="product" nillable="true" type="q11:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="product" nillable="true" type="q12:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderFromCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderFromCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="getOrderFromCustomerResult" nillable="true" type="q13:ArrayOfOrderFromCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderFromCustomerTotalNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderFromCustomerTotalNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOrderFromCustomerTotalNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrderFromCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="order" nillable="true" type="q14:OrderFromCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrderFromCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrderFromCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="order" nillable="true" type="q15:OrderFromCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrderFromCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrderFromCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="order" nillable="true" type="q16:OrderFromCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrderFromCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderToSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderToSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="getOrderToSupplierResult" nillable="true" type="q17:ArrayOfOrderToSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderToSupplierTotalNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderToSupplierTotalNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOrderToSupplierTotalNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrderToSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="order" nillable="true" type="q18:OrderToSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertOrderToSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrderToSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="order" nillable="true" type="q19:OrderToSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrderToSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrderToSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LNDLWcfService.CodeFirstEntities" minOccurs="0" name="order" nillable="true" type="q20:OrderToSupplier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrderToSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/Message" name="Uploading" type="q21:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="UploadResult" nillable="true" type="q22:UploadedFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Transform">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="Uploading" nillable="true" type="q23:UploadedFile" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LNDLWcfService" minOccurs="0" name="TransformResult" nillable="true" type="q24:UploadedFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>