LNDL/Service References/ServiceReference1/LNDLWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LNDLWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LNDLWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UploadedFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileLength" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadedFile" nillable="true" type="tns:UploadedFile" />
</xs:schema>