LNDLWcfServiceHost/Service References/ProductServiceReference/WcfProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfProductService.EFDAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfProductService.EFDAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblProduct" nillable="true" type="tns:tblProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblProduct" nillable="true" type="tns:ArrayOftblProduct" />
  <xs:complexType name="tblProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productSubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblProduct" nillable="true" type="tns:tblProduct" />
  <xs:complexType name="ArrayOftblCurtain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCurtain" nillable="true" type="tns:tblCurtain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCurtain" nillable="true" type="tns:ArrayOftblCurtain" />
  <xs:complexType name="tblCurtain">
    <xs:sequence>
      <xs:element minOccurs="0" name="FR" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="bagPerBox" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="blackout" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="generalNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="grommet" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemCreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itemModifyDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lining" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pattern" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="piecePerBag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unitPriceIn" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitPriceSale1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitPriceSale2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCurtain" nillable="true" type="tns:tblCurtain" />
  <xs:complexType name="ArrayOftblFabric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblFabric" nillable="true" type="tns:tblFabric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblFabric" nillable="true" type="tns:ArrayOftblFabric" />
  <xs:complexType name="tblFabric">
    <xs:sequence>
      <xs:element minOccurs="0" name="FR" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GSM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="generalNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lengthPerRoll" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pattern" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="width" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="widthUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblFabric" nillable="true" type="tns:tblFabric" />
  <xs:complexType name="ArrayOftblBed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblBed" nillable="true" type="tns:tblBed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblBed" nillable="true" type="tns:ArrayOftblBed" />
  <xs:complexType name="tblBed">
    <xs:sequence>
      <xs:element minOccurs="0" name="generalNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblBed" nillable="true" type="tns:tblBed" />
</xs:schema>