LNDLWcfServiceHost/Service References/ProductServiceReference/WcfProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WcfProductService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfProductService.EFDAL" />
  <xs:element name="GetProductEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfProductService.EFDAL" minOccurs="0" name="GetProductEntitiesResult" nillable="true" type="q1:ArrayOftblProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurtainEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurtainEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfProductService.EFDAL" minOccurs="0" name="GetCurtainEntitiesResult" nillable="true" type="q2:ArrayOftblCurtain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfProductService.EFDAL" minOccurs="0" name="GetFabricEntitiesResult" nillable="true" type="q3:ArrayOftblFabric" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfProductService.EFDAL" minOccurs="0" name="GetBedEntitiesResult" nillable="true" type="q4:ArrayOftblBed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>